<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <cpn></cpn>
    </div>

    <template id="cpn">
        <div>
            <p>{{name}}</p>
            <button @click="cpnClick">按钮</button>
            <ccpn></ccpn>
        </div>
    </template>
    <template id="ccpn">
        <div>
            <p>{{name}}</p>
            <button @click="cpnClick">按钮</button>
        </div>
    </template>
    <script src='../node_modules/vue/dist/vue.js'></script>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                
            },
            components:{
                cpn:{
                    template:'#cpn',
                    data(){
                        return {
                            name:'cpn'
                        }
                    },
                    methods:{
                        cpnClick(){
                            console.log(this.$parent)
                        }
                    },
                    components:{
                        ccpn:{
                            template:'#ccpn',
                            data(){
                                return {
                                    name:'ccpn'
                                }
                            },
                            methods:{
                                cpnClick(){
                                    console.log(this.$parent)
                                    console.log(this.$root)
                                }
                            }
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>