<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>body{font-size:10px}</style>
  <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <div id ="app">
  {{ hello }}
  </div>

  <script>
   var vm = new Vue({
    el: '#app',
    data: {},
    methods: {},
    created(){
      console.log('created');
    },
    beforeCreate(){
      console.log('beforeCreated');
    },
    beforeUpdate(){
      console.log('beforeCreated');
    },
    updated(){
      console.log('updated');
    },
    beforeMount(){
      console.log('beforeMount');
    },
    mounted(){
      console.log('mounted');
    },
    destroyed(){
      console.log('destroyed');
    },
    beforeDestroy(){
      console.log('beforeDestroy');
    }
   });
  </script>
</body>
</html>