<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>body{font-size:10px}</style>
  <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <div id ="app">
    <ul>
      <li v-for="(item,index) in arr" :key="item">
        {{item}} ===== {{index}}
      </li>
    </ul>
    <ul>
      <li v-for="(value,key,index) in books" :key="key">
        {{value}} ===== {{key}} ==== {{index}}
      </li>
    </ul>
  </div>

  <script>
   var vm = new Vue({
    el: '#app',
    data: {
      arr:[1,2,3],
      books:{
        name:'js权威指南',
        price:120,
        publish:'2020-11-20',
        num:20
      }
    },
    methods: {}
   });
  </script>
</body>
</html>