<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <p></p>
        <cpn :number1="num1" :number2="num2" @num1click="num1change" @num2click="num2change"></cpn>
    </div>

    <template id="cpn">
        <div>
            <p>props:{{number1}}</p>
            <p>data:{{dnumber1}}</p>
            <p>dnumber1：<input type="text" v-model="dnumber1"></p>
            <br>
            <p>props:{{number2}}</p>
            <p>data:{{dnumber2}}</p>
            <p>dnumber2：<input type="text" v-model="dnumber2"></p>
        </div>
    </template>

    <script src='../node_modules/vue/dist/vue.js'></script>
    <script>
        // 创建子组件
        const cpn = {
            template:'#cpn',
            props:{
                number1:Number,
                number2:Number
            },
            data(){
                return {
                    dnumber1:this.number1,
                    dnumber2:this.number2
                }
            },
            watch:{
                dnumber1(newValue){
                    this.$emit('num1click',newValue)

                    this.dnumber2 = newValue * 100
                    this.$emit('num2click',this.dnumber2)
                },
                dnumber2(newValue){
                    this.$emit('num2click',newValue)
                    
                    this.dnumber1 = newValue / 100
                    this.$emit('num1click',this.dnumber1)
                }
            }
        }

        const vm = new Vue({
            el:'#app',
            data:{
               num1:1,
               num2:0
            },
            methods:{
                num1change(num1){
                    this.num1 = +num1
                },
                num2change(num2){
                    this.num2 = +num2
                }
            },
            components:{
                cpn
            }
        });
    </script>
</body>
</html>